#title {
    text-align: center;
    font-family: sans-serif;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  #img-caption {
    font-size: .74em;
    text-align: center;
    font-family: sans-serif;
  }
  
  #tribute-info {
    font-family: sans-serif;
  }
  
  h3 {
    text-align: center;
  }